<%= render 'shared/errors', obj: @question %>

<%= "<h2>Question for: #{Station.find_by_id(params[:station_id]).title}</h2>".html_safe if params[:station_id] %>
<% if params.has_key?(:question) %>
  <%= "<h2>Question for: #{Station.find_by_id(params[:question][:station_id]).title}</h2>".html_safe %>
<% end %>

<%= form_for(@question, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form-group">
    <div class='row'>
      <div class="control-label col-sm-2">
        <%= f.label :title %>
      </div>
      <div class="col-sm-12">
        <%= f.text_field :title, class: "form-control", placeholder: "Question", autofocus: true  %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class="control-label col-sm-2">
        <%= f.label :answer %>
      </div>
      <div class='col-sm-12'>
        <%= f.text_area :answer, rows: 10, class: "form-control", placeholder: "Answer" %>
      </div>
    </div>
  </div>

  <div class='form-group'>
    <div class='row'>
      <div class='col-md-12'>
        <% if params[:station_id] %>
          <%= f.hidden_field :station_id, :value => params[:station_id] %>
        <% elsif params[:question][:station_id] %>
          <%= f.hidden_field :station_id, :value => params[:question][:station_id] %>
        <% else %>
          <%= f.collection_select(:station_id, Station.all, :id, :title, {}, {:class => 'form-control'}) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class="col-sm-offset-2 col-sm-12">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
