</div>
<div class='course-header'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 offset-lg-2'>
        <h4><%= @station.course.title %></h4>
        <div class='back-next'>
          <%= link_to "Back to all stations", course_path(@station.course) %>
          <% if @next_station %>
            <%= link_to"Next station", station_path(@next_station), class: "float-right" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container station-show">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="accordion" id="scenario-accordion">
        <div class='card' id="scenario-card">
          <div class="card-header"><%= @station.title %></div>
          <div class="card-body"><%= raw @station.scenario %></div>
        </div>
        <% @station.questions.each do |question| %>
          <!-- Start collapse group -->
            <div class="card">
                <div class="card-header" id="heading<%= "#{question.id}".html_safe %>">
                  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="collapse" data-target="#collapse<%= "#{question.id}".html_safe %>">
                    <%= question.title %>
                  </button>
                  <%= link_to_if(current_user.admin?, 'Edit', edit_question_path(question), class: "btn btn-sm btn-link float-right"){} %>
                  <%= link_to_if(current_user.admin?, 'Delete', question_path(question), method: :delete, class: "btn btn-sm btn-link float-right" ){} %>
                </div>
                <div id="collapse<%= "#{question.id}".html_safe %>" class="collapse" aria-labelledby="heading<%= "#{question.id}".html_safe %>" data-parent="#scenario-accordion">
                    <div class="card-body">
                        <p><%= question.answer %></p>
                    </div>
                </div>
            </div>
          <!-- End collapse group -->
        <% end %>
        <%= link_to_if(current_user.admin?, 'Create Q for this station', new_question_path(:station_id => @station.id), class: "btn btn-outline-primary mt-3" ){} %>
    </div>
  </div>
</div>
