<ul class="list-group">
  <li class="list-group-item"><strong>Desc:</strong> <%= @course.description %></li>
  <li class="list-group-item"><strong>Category:</strong> <%= @course.category %></li>
  <li class="list-group-item"><strong>Price:</strong> <%= "£" + "#{@course.price}" %></li>
</ul>
<br />
<% if user_signed_in? %>
  <%= link_to "Sign up for this course", payments_path(course: @course), class:"btn btn-primary", method: :post %>
<% else %>
  <%= link_to "Sign up to subscribe to this course", new_user_registration_path, class:"btn btn-primary" %>
<% end %>
