<div class="card course-card mt-4">
    <h5 class="card-header">
      <%= obj.title %>
      <%= "<span class='badge badge-warning'>Subscribed</span>".html_safe if user_signed_in? && current_user.courses.find_by_id(obj.id) %>
    </h5>
    <div class="card-body">
      <p class="card-text"><%= obj.description %></p>
    </div>
    <div class='card-footer'>
      <% if user_signed_in? && current_user.courses.find_by_id(obj.id) %>
        <%= link_to "Go to course", course_path(obj), class: "btn btn-primary btn-rounded" %>
      <% else %>
        <%= link_to "£#{obj.price}", course_path(obj), class:"btn btn-primary btn-rounded" %>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
      <div style='border-top: 1px solid #EEE;' class='mt-3'>
        <%= link_to 'Edit', edit_course_path(obj), class: "btn btn-sm btn-link" %>
        <%= link_to 'Delete', course_path(obj), method: :delete, class: "btn btn-sm btn-link" %>
      </div>
      <% end %>
    </div>
</div>
