<div class="row">
  <div class="col-lg">
    <h2 style="padding-bottom: 0.3em;"><%= @course.title %></h2>
    <%= link_to_if(current_user.admin?, 'Create Station for this course', new_station_path(:course_id => @course.id), class: "btn btn-warning mb-3" ){} %>
    <%= link_to_if(current_user.admin?, 'Create Station Category for this course', new_station_category_path(:course_id => @course.id), class: "btn btn-warning mb-3" ){} %>
      <!-- stations listed by station_category -->
  <% if user_signed_in? && current_user.courses.find_by_id(@course.id) %>
    <% if @course.station_categories.any? %>
      <ul class="list-group">
        <% @course.station_categories.each do |station_category| %>
        <li class="list-group-item">
          <strong><%= station_category.name %></strong>
        </li>
          <% if station_category.stations.any? %>
            <% station_category.stations.each do |station| %>
              <li class="list-group-item">
                <%= link_to station.title, station_path(station) %>
                <span class="float-right button-group">
                  <%= link_to_if(current_user.admin?, 'Edit', edit_station_path(station), class: "btn btn-sm btn-primary"){} %>
                  <%= link_to_if(current_user.admin?, 'Delete', station_path(station), method: :delete, class: "btn btn-sm btn-danger" ){} %>
                </span>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% else %>

      <%= render '_course_description_and_signup' %>

    <% end %>
  </div>
</div>
