<div class="container">
  <div class='row'>
    <div class='col-lg-12 header-row'>
      <h4>
        <%= @course.title %>
      </h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row course-show">
    <div class="col-lg-8 offset-lg-2">
      <% if has_course(current_user, @course) %>
        <!-- stations listed by station_category -->
        <% if @course.station_categories.any? %>
          <% @course.station_categories.each do |station_category| %>
            <ul class="list-group mb-3">
              <li class="list-group-item station-category-header">
                <strong><%= station_category.name %></strong>
                <span class="float-right button-group">
                  <%= link_to_if(current_user.admin?, 'Edit', edit_station_category_path(station_category), class: "btn btn-sm btn-light"){} %>
                  <%= link_to_if(current_user.admin?, 'Delete', station_category_path(station_category), method: :delete, class: "btn btn-sm btn-light" ){} %>
                </span>
              </li>
              <% if station_category.stations.any? %>
                <% station_category.stations.each do |station| %>
                  <li class="list-group-item station-header ">
                    <%= link_to station.title, station_path(station) %>
                    <span class="float-right">
                        <%= form_with(url: complete_station_path(station), method: 'put', id: "complete_toggle_#{station.id}") do |f| %>
                          <%  if current_user.completed_stations.find_by_id(station).present?
                                @checked = true
                              else
                                @checked = false
                              end
                          %>
                          <%= f.label :type, :class => "label label#{station.id}", :for => "customSwitch#{station.id}" do %>
                            <%= f.check_box(:type, :class => "label__checkbox", :id => "customSwitch#{station.id}", :onclick =>"Rails.fire(form, 'submit');", :checked => @checked ) %>
                            <span class="label__text">
                              <span class='label__check'>
                                <i class="fa fa-check icon"></i>
                              </span>
                            </span>
                          <% end %>
                        <% end %>
                      <%= link_to_if(current_user.admin?, 'Edit', edit_station_path(station), class: "btn btn-sm btn-link"){} %>
                      <%= link_to_if(current_user.admin?, 'Delete', station_path(station), method: :delete, class: "btn btn-sm btn-link" ){} %>
                    </span>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        <% end %>
        <%= render 'admin_panel' if current_user.admin? %>
      <% else %>
        <%= render "course_description_and_signup" %>
      <%end%>
    </div>
  </div>
</div>

<script>
  $(".custom-control-input").on("click", function (){
    $("this").submit();
  });
</script>
