<!DOCTYPE html>
<html>
  <head>
    <title>Stprep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/jquery.drawsvg/1/jquery.drawsvg.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="welcome-messages-container">
      <div class="container">
        <% render 'shared/messages' %>
      </div>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <script>
      AOS.init();
      window.addEventListener('load', AOS.refresh)
      $("a[href^='#']").click(function(e) {
        e.preventDefault();

        var position = $($(this).attr("href")).offset().top;

        $("body, html").animate({
          scrollTop: position - 170
        } /* speed */ );
      });
    </script>
  </body>
</html>
