<!DOCTYPE html>
<html>
  <head>
    <title>Stprep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="https://cdn.jsdelivr.net/jquery.drawsvg/1/jquery.drawsvg.min.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script>
      //TL bug fix
      document.addEventListener('DOMContentLoaded', function() {
        window.DOMLoaded = true;
      });
    </script>
  </head>

  <body>
    <%= render 'layouts/navigation_transparent' %>
    <div class="welcome-messages-container">
        <% render 'shared/messages' %>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      document.addEventListener("turbolinks:load", function() {
        AOS.init();

        (function () {
          var s = document.createElement('script');
          s.type = 'text/javascript';
           s.async = true;
          s.src = 'https://app.termly.io/embed.min.js';
          s.id = '107e6726-a4d6-467d-9cc6-6f92a66ee9ba';
          s.setAttribute("data-name", "termly-embed-banner");
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        })();

        function ScrollHeader() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById('main-nav-bar-transparent').style.background = '#26547C';
          } else {
            document.getElementById('main-nav-bar-transparent').style.background = 'transparent';
        }};

        $( window ).scroll( ScrollHeader );


        $( ScrollHeader );

      })
    </script>
  </body>
</html>
